.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6%;
    background-color: #ecc92c;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar img{
    margin-right: 3%;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 list-style: none;
}
.nav_link{
    text-decoration: none;
    /* -webkit-text-stroke: 2px #187fe7; */
    /* color: #ecc92c; */
    color: #187fe7;
    font-size: 1.2rem;
    font-weight: bold;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
}